# Entornos y Secretos
venv/
env/
.env

# Bases de datos SQLite
db.sqlite3
db.sqlite3-journal

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Archivos de SO
.DS_Store
Thumbs.db
# Archivos comprimidos de entrega
*.rar
*.zip
*.tar.gz